body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

section {
    margin-bottom: 30px;
}

input {
    margin: 5px 0;
    padding: 6px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}

pre {
    background: #f3f3f3;
    padding: 10px;
    border-radius: 6px;
    max-height: 300px;
    overflow-y: auto;
}